#!/usr/bin/make -f

export DH_VERBOSE=1
export PYBUILD_NAME=ifupdown2
export PYBUILD_INSTALL_ARGS=--install-lib=/usr/share/ifupdown2 --install-scripts=/usr/share/ifupdown2

%:
		dh $@ --with python2,python3 --buildsystem=pybuild


override_dh_auto_clean:
		rm -rf $(CURDIR)/ipaddr.pyc
		rm -rf $(CURDIR)/build
		rm -rf $(CURDIR)/__pycache__
		dh_clean


