Source: ifupdown2
Section: admin
Priority: optional
Maintainer: Julien Fortin <jfortin@nvidia.com>
Build-Depends: debhelper (>= 10),
               dh-python,
               python3,
               python3-all,
               python3-setuptools,
               python3-docutils
Standards-Version: 4.5.0.2
Homepage: https://github.com/cumulusnetworks/ifupdown2
X-Python-Version: >= 3.7

Package: ifupdown2
Architecture: all
Provides: ifupdown
Conflicts: ifupdown
Replaces: ifupdown
Depends: ${python3:Depends}, ${misc:Depends}, iproute2, python3-six, python3-setuptools, python3-systemd
Suggests: isc-dhcp-client, bridge-utils, ethtool, python3-gvgen, python3-mako
Description: Network Interface Management tool similar to ifupdown
 ifupdown2 is ifupdown re-written in Python. It replaces ifupdown and provides
 the same user interface as ifupdown for network interface configuration.
 Like ifupdown, ifupdown2 is a high level tool to configure (or, respectively
 deconfigure) network interfaces based on interface definitions in
 /etc/network/interfaces. It is capable of detecting network interface
 dependencies and comes with several new features which are available as
 new command options to ifup/ifdown/ifquery commands. It also comes with a new
 command ifreload to reload interface configuration with minimum
 disruption. Most commands are also capable of input and output in JSON format.
 It is backward compatible with ifupdown /etc/network/interfaces format and
 supports newer simplified format. It also supports interface templates with
 python-mako for large scale interface deployments. See
 /usr/share/doc/ifupdown2/README.rst for details about ifupdown2. Examples
 are available under /usr/share/doc/ifupdown2/examples.
