Source: ifupdown2
Section: admin
Priority: optional
Maintainer: Julien Fortin <julien@cumulusnetworks.com>
Build-Depends: debhelper (>=9),
               dh-systemd,
               dh-python,
               python-all,
               python-setuptools,
               python-docutils
Standards-Version: 3.9.8
Homepage: https://github.com/cumulusnetworks/ifupdown2
X-Python-Version: >= 2.7

Package: ifupdown2
Architecture: all
Provides: ifupdown
Conflicts: ifupdown
Replaces: ifupdown
Depends: ${python:Depends}, ${misc:Depends}, iproute2, python-argcomplete, python-ipaddr
Suggests: isc-dhcp-client, bridge-utils, ethtool, python-gvgen, python-mako
Description: Network Interface Management tool similar to ifupdown
 ifupdown2 is ifupdown re-written in Python. It replaces ifupdown and provides
 the same user interface as ifupdown for network interface configuration.
 Like ifupdown, ifupdown2 is a high level tool to configure (or, respectively
 deconfigure) network interfaces based on interface definitions in
 /etc/network/interfaces. It is capable of detecting network interface
 dependencies and comes with several new features which are available as
 new command options to ifup/ifdown/ifquery commands. It also comes with a new
 command ifreload to reload interface configuration with minimum
 disruption. Most commands are also capable of input and output in JSON format.
 It is backward compatible with ifupdown /etc/network/interfaces format and
 supports newer simplified format. It also supports interface templates with
 python-mako for large scale interface deployments. See
 /usr/share/doc/ifupdown2/README.rst for details about ifupdown2. Examples
 are available under /usr/share/doc/ifupdown2/examples.
