[Unit]
Description=Network initialization
Documentation=man:interfaces(5) man:ifup(8) man:ifdown(8)
DefaultDependencies=no
Before=shutdown.target
Conflicts=shutdown.target

[Service]
Type=oneshot
RemainAfterExit=yes
SyslogIdentifier=networking
TimeoutStopSec=30s
ExecStart=/sbin/ifup -a
ExecStop=/sbin/ifdown -a
ExecReload=/sbin/ifreload -a

[Install]
WantedBy=basic.target network.target shutdown.target
